/* line 1, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
html {
  background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(252, 205, 205, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: .10em;
  color: #000000;
}

/* line 16, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
body {
  margin: 0px;
  width: 100%;
}

/* line 21, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1em;
  text-align: center;
  letter-spacing: .10em;
  animation: fadein 2s;
  transition: all 0.55s ease;
}

/* line 32, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.gradient {
  /* Our base */
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  margin: 0 auto;
  margin-top: 50px;
}

/* line 40, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.header-flex-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 48, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.spacer {
  display: flex;
  flex: 1;
}

/* line 53, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.header-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

/* line 59, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.splash-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

/* line 65, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.splash-spacer {
  display: flex;
  flex: 5;
  justify-content: space-around;
}

/* line 71, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.logo-spacer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

/* line 84, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
img {
  display: flex;
  flex: 1;
  max-width: 50px;
}

/* line 90, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-signup-flex-container {
  display: flex;
  flex: 5;
  justify-content: space-around;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  letter-spacing: .10em;
}

/* line 105, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-and-signup-buttons {
  display: flex;
  justify-content: space-around;
}

/* line 110, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-button, .signup-button {
  text-decoration: none;
}

/* line 114, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-and-signup {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

/* line 121, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-button, .signup-button {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
  padding: 10px;
  background: #FCCDCD;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease;
}

/* line 146, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.active {
  font-weight: 800;
}

/* line 150, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-button:hover, .signup-button:hover {
  color: black;
  box-shadow: 2px 2px 4px rgba(249, 157, 157, 0.5);
  -webkit-animation: shake 0.2s ease-in-out 0.3s infinite alternate;
  -webkit-animation: rotate 0.1s ease-in-out 0.0s infinite alternate;
}

/* line 160, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.session-form-containers {
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 2s;
}

/* line 169, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-form-container {
  /* Pink Base Box */
  display: flex;
  justify-content: center;
  min-width: 700px;
  height: 490px;
  left: 120px;
  top: 125px;
  background: #FCCDCD;
  border: 15px solid rgba(255, 255, 255, 0.5);
}

/* line 184, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.submit-button, .guest-button {
  background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(252, 205, 205, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);
  border: 1px solid #000000;
  box-sizing: border-box;
}

/* line 191, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-form .login-password-input, .login-form .login-user-input, .guest-button, .submit-button {
  background: linear-gradient(90deg, rgba(253, 253, 253, 0.5) 24.57%, rgba(252, 253, 253, 0.5) 24.57%, rgba(253, 253, 253, 0.5) 34.26%, rgba(255, 253, 253, 0.5) 60.41%, rgba(253, 253, 253, 0.5) 99.99%);
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

/* line 198, /Users/atom-c/Desktop/FULLstack/Bento/app/assets/stylesheets/api/sessions.scss */
.login-errors {
  list-style: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: translate(-1px, 0px);
  }
  to {
    -webkit-transform-origin: center center;
    -webkit-transform: translate(0px, 1px);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(2deg);
  }
  to {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-2deg);
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

