.header-flex-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  font-style: normal;
  text-decoration: none;
  height: 70px;
}

.spacer {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.header-container {
  display: flex;
  flex: 1;
  justify-content: center;
  font-style: normal;
  text-decoration: none;
}

.nav-login-signup-flex-container {
  display: flex;
  align-items: center;
}


.splash-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.splash-spacer {
  display: flex;
  flex: 5;
  justify-content: space-around;
}

.logo-spacer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

img {
  display: flex;
  flex: 1;
  max-width: 50px;
}

.nav-login-signup-flex-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;

  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  letter-spacing: .10em;
}

.nav-login-signup-flex-container {
  .spacer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  }
}

.splash-container {
    .splash-spacer {
    display: flex;
    flex: 5;
    min-width: 20px;
    justify-content: center;
  }
}

.nav-login-signup-flex-container {
  .nav-login-button, .nav-signup-button {
  display: flex;
  flex: 3;
  min-width: 65px;
  justify-content: center;
  }
}

.nav-header-logout-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-style: normal;
  text-decoration: none;
}

.nav-logout-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-style: normal;
  text-decoration: none;
}

.nav-logout-button {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  letter-spacing: .10em;
}

.nav-login-and-signup-buttons {
  display: flex;
  justify-content: space-around;
}

.nav-login-button, .nav-signup-button {
  text-decoration: none;
  font-weight: 400;
}

.nav-login-button, .nav-signup-button, .nav-logout-button {
  display: flex;
  flex: 1;
  font-weight: 400;
  text-decoration: none;
  align-items: center;

  color: black;

  padding: 10px;
  background: #FCCDCD;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  transition: all 0.25s ease;
}

.splash-spacer {
  .nav-login-button:hover, .nav-signup-button:hover, .nav-logout-button:hover {
  box-shadow: 2px 2px 4px darken(rgba(252, 205, 205, 0.5), 10%);

  -webkit-animation: wiggle 0.1s ease-in-out 0.1s alternate 3;
  }
}
