.project-index-wrapper {
  // box-flex: 1;
  display: -webkit-flex;
  flex: 1;
  // outline: 0;

  // position: relative;
  // overflow-y: auto;
  //
  // display: block;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // box-orient: vertical;
  // direction: normal;
}

.protection {
  // height: 100%;
}

.indices-section {
  margin-top: 70px;
  height: 100%;
}

.project-index {
  margin-left: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  margin-top: 20px;
  // height: 100%
}

.project-list-item {
  width: 300px;
  margin: 0 10px;

  background-color: rgba(255, 255, 255, 0.20);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 24.57%, rgba(255, 255, 255, 0.45) 34.26%, rgba(255, 255, 255, 0.25) 60.41%, rgba(255, 255, 255, 0.0) 99.99%);

  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  // white-space: nowrap;
  text-align: center;
  font-size: 16px;

  .a {
    max-width: 270;
    width: 270;
  }

  a.project-title {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px;

  }

  a.project-title:hover {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
  }

  a.task-title:hover {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
  }
}

.routes-container {
  background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow: auto;


}

.create-project-wrapper {
  // margin-top: 70px;
  text-align: center;
  font-size: 16px;
}

.create-task-wrapper {
  .create-container {
    .new-form, input {
      margin-top: 20px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.20);
    }

    h3 {
      font-size: 16px;
    }

    input {
      // display: flex;
    }

    input:hover, input:active, input:focus {
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.60);
      // border: solid 2px white;
    }
  }
}

.project-title-live-input {
  // display: flex;
  // flex: 1;
  font-weight: 400;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.80);
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: solid 6px rgba(255, 255, 255, 0.40);
  text-align: center;

}

.project-title-live-input:hover {
  background-color: rgba(255, 255, 255, 1.0);
  word-wrap: break-word;
  overflow-x: scroll;
}

.task-list-item {
  display: flex;
  font-weight: 400;
  //
  // justify-content: space-around;
  // flex-direction: row;
  background-color: rgba(255, 255, 255, 0.80);
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 6px rgba(255, 255, 255, 0.40);
}

.task-list-item:hover {
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 2px 2px 4px darken(rgba(252, 205, 205, 0.5), 10%);

}

input[type=checkbox] {
  display: none;
  visibility: hidden;
  margin: auto;
}

.task-title {
  // justify-content: space-around;
  // flex-direction: row;
  // display: flex;
  // flex: 1;
  // align-content: flex-start;
  // text-shadow: 1px 1px 1px rgba(100, 100, 100, .25);
  line-height: 1.3em;
  letter-spacing: 0.025em;
  text-transform: none;
  margin: 0px 7px;
  text-align: left;
  word-wrap: break-word;
  overflow-x: scroll;
}

.task-item-true {
  font-weight: 200;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.30);
  // background-color: rgba(230, 255, 230, 0.3);
  display: flex;
  margin: 0px 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 4px rgba(255, 255, 255, 0.15);
  // border: solid 4px rgba(220, 245, 230, 0.15);
  text-decoration: line-through;
  text-decoration-color: #a8af9f;

}
.task-item-false {
  // font-weight: 200;
  font-size: 14px;
  font-family: "arial";
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 4px rgba(255, 255, 255, 0.80);
}

.task-item-false:hover, .task-item-true:hover {
  cursor: pointer;
}






.check-box-wrapper {
  display: none;
//   visibility: hidden;
//   flex-direction: row;
//   display: flex;
//   flex: .45;
//   justify-content: space-around;
//   width: 16px;
// 	height: 20px;
// 	background: #ddd;
//
// 	border-radius: 20%;
// 	position: relative;
}
//
.check-box-wrapper:hover {
  display: none;
//   visibility: hidden;
// 	background: #EEE;
}
//
.check-box:hover {
  display: none;
//   cursor: pointer;
//   border: solid 6px rgba(252, 205, 205, 0.5)
//
}





//
// .new-form {
//   input {padding: 10px;}
// }
