.project-index-wrapper {
  box-flex: 1;
  flex-grow: 1;

  outline: 0;

  position: relative;
  overflow-y: auto;

  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  direction: normal;
}

.indices-section {
  margin-top: 70px;
}

.project-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    height: 100%
}

.project-list-item {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;

  :hover {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
  }
}

.routes-container {
  background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow: auto;


}

.create-project-wrapper {
  // margin-top: 70px;
  text-align: center;
  font-size: 16px;
}
