.project-index-wrapper {
  // box-flex: 1;
  display: -webkit-flex;
  flex: 1;
  // outline: 0;

  // position: relative;
  // overflow-y: auto;
  //
  // display: block;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // box-orient: vertical;
  // direction: normal;
}

.protection {
  // height: 100%;
}

.indices-section {
  margin-top: 70px;
  height: 100%;
}

.project-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    // height: 100%
}

.project-list-item {
  width: 270px;
  margin: 0 5px;

  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  // white-space: nowrap;
  text-align: center;
  font-size: 16px;

  .a {
    max-width: 270;
    width: 270;
  }

  a.project-title {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px;

  }

  a.project-title:hover {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
  }

  a.task-title:hover {
    border-bottom: solid 1px black;
    padding-bottom: 5px;
  }
}

.routes-container {
  background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow: auto;


}

.create-project-wrapper {
  // margin-top: 70px;
  text-align: center;
  font-size: 16px;
}

.create-task-wrapper {
  .create-container {
    .new-form, input {
      margin-top: 20px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.20);
    }

    h3 {
      font-size: 16px;
    }

    input {
      // display: flex;
    }

    input:hover, input:active, input:focus {
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.60);
      // border: solid 2px white;
    }
  }
}

.project-title-live-input {
  // display: flex;
  // flex: 1;
  background-color: rgba(255, 255, 255, 0.80);
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: solid 6px rgba(255, 255, 255, 0.40);
  text-align: center;

}

.project-title-live-input:hover {
  background-color: rgba(255, 255, 255, 1.0);
}

.task-list-item {
  display: flex;
  //
  // justify-content: space-around;
  // flex-direction: row;
  background-color: rgba(255, 255, 255, 0.80);
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 6px rgba(255, 255, 255, 0.40);
}

.task-list-item:hover {
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 2px 2px 4px darken(rgba(252, 205, 205, 0.5), 10%);

}

input[type=checkbox] {
  // visibility: hidden;
  margin: auto;
}

.task-title {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  flex: 5;
  align-content: center;
}

.check-box-wrapper {
  flex-direction: row;
  display: flex;
  flex: .5;
  justify-content: space-around;
  width: 20px;
	height: 20px;
	background: #ddd;

	border-radius: 20%;
	position: relative;
}

.check-box-wrapper:hover {
  flex-direction: row;
  display: flex;
  flex: .5;
  justify-content: space-around;
  width: 20px;
	height: 20px;
	background: #EEE;

	border-radius: 20%;
	position: relative;
}

.check-box:hover {
  cursor: pointer;
  border: solid 6px rgba(252, 205, 205, 0.5)

}

.task-item-true {
  background-color: rgba(230, 255, 230, 0.5);
  display: flex;
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 4px rgba(230, 255, 230, 0.5);

}
.task-item-false {
  display: flex;
  background-color: rgba(255, 255, 255, 0.80);
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 4px rgba(255, 255, 255, 0.40);
}










//
// .new-form {
//   input {padding: 10px;}
// }
