.session-form-containers {
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 2s;
}

.login-form-container {
  /* Pink Base Box */
margin-top: 100px;
display: flex;
justify-content: center;
min-width: 700px;
height: 490px;
// left: 120px;
// top: 125px;

background: #FCCDCD;
border: 15px solid rgba(255, 255, 255, 0.5);
}

.submit-button, .guest-button {

}

.login-form .login-password-input, .login-form .login-user-input, .guest-button, .submit-button {
  background: linear-gradient(90deg, rgba(253, 253, 253, 0.5) 24.57%, rgba(252, 253, 253, 0.5) 24.57%, rgba(253, 253, 253, 0.5) 34.26%, rgba(255, 253, 253, 0.5) 60.41%, rgba(253, 253, 253, 0.5) 99.99%);

  border: 1px solid rgba(255, 255, 255, 0.0);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-content: space-around;
}

.login-form {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.login-errors {
  list-style: none;
}

.reactive {
  font-weight: bold;
  // border-bottom: solid 2px black;
// box-shadow: inset 2px 0px 4px rgba(0, 0, 0, 0.25);

}

.nest {
  display: none;
  padding-bottom: 8px;
  border-bottom: solid 1px black;
  position: absolute;

  min-width: 65px;
  transition: all 0.75s ease;
}

.login-signup-flex-container .reactive .nest, .login-signup-flex-container .login-button:hover > .nest, .login-signup-flex-container .signup-button:hover > .nest {
  transition: all 0.75s ease;
  display: block;
}

.special-space {
  min-width: 20px;
}

.login-signup-flex-container .login-button, .login-signup-flex-container .signup-button {

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }

@-webkit-keyframes wiggle {
  from {
    // -webkit-transform: translate(-1px, 0px);
     -webkit-transform: rotate(2deg);
  }
  to {
    -webkit-transform-origin:center center;
    // -webkit-transform: translate(0px, 1px);
    -webkit-transform: rotate(-2deg);
  }
}

// @-webkit-keyframes shake {
//   from {
//      -webkit-transform: translate(-1px, 0px);
//   }
//   to {
//     -webkit-transform-origin:center center;
//     -webkit-transform: translate(0px, 1px);
//   }
// }























// display: flex;
// justify-content: center;
//
// max-width:110%;
// margin-left:0;
// padding: 0;
// width: 100%;
// height: 110 px;


// .signup-button {
//   text-decoration: none;
//   align-items: center;
//
//   padding: 5px;
//   background: #FCCDCD;
//   border: 0px solid rgba(255, 255, 255, 0.5);
// }

// .top-box {
//   padding: 0 15px;
//   max-width: 1230px;
//   margin: 0 auto;
//   width: 100%;
//   background-color: black;
// }
