// .session-form-containers-wrapper {
//   display: grid;
//   grid-template-columns: repeat(101, 1fr);
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
//
// }
//
// .session-form-containers {
//     grid-column: 51;
// }

.session-form-containers {
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 1s;
}

.container-wrapper {
  display: grid;
  grid-template-columns: repeat(101, 1fr);
  grid-gap: 0px;
  grid-template-rows: repeat(25, 1fr);
}

.container-container {
    /* Pink Base Box */
  // margin-top: 120px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // min-width: 700px;
  // height: 490px;
  min-width: 840px;
  height: 588px;

  // background: #FCCDCD;
  box-sizing: border-box;
  // border: 15px solid rgba(255, 255, 255, 0.5);
  grid-column: 1 / 101;
  grid-row: 6 / 25;
  z-index: 1;
}

  .white-box {
  /* White Box */
  // width: 450px;
  // height: 340.15px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1.0);
  border: 15px solid rgba(235, 235, 235, 0.2);
  grid-column: 43 / 101;
  grid-row: 6 / 14 ;
  z-index: 40;
}

.pink-box {
  /* Pink Box */
  box-sizing: border-box;
  background-color: #FCCDCD;
  border: 15px solid rgba(235, 235, 235, 0.2);
  grid-column: 1 / 101;
  grid-row: 6 / 25 ;
  z-index: 39;
}

.green-box {
  /* Green Box */
  box-sizing: border-box;
  background: #EFFFAE;
  border: 15px solid rgba(255, 255, 255, 0.5);
  grid-column: 65 / 101;
  grid-row: 14 / 25;
  z-index: 40;
}

.yellow-box {
  /* Yellow Box */
  background: #FFE289;
  box-sizing: border-box;
  border: 15px solid rgba(255, 255, 255, 0.5);
  grid-column: 32 / 65;
  grid-row: 14 / 25;
  z-index: 40;
}

.submit-button, .guest-button {
  padding: 10px;
  display: flex;

  font-weight: 400;
  text-decoration: none;

  color: black;
  margin: 0px 10px;

  padding: 10px;
  background: #FCCDCD;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  transition: all 0.25s ease;
  min-width: 90px;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 90px;
  max-width: 90px;
  // max-height: 40px;
  font-size: 14px;
}

.session-password-field, .session-username-field {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.submit-button:hover, .guest-button:hover {
  box-shadow: 2px 2px 4px darken(rgba(252, 205, 205, 0.2), 10%);
  cursor: pointer;
  -webkit-animation: wiggle 0.1s ease-in-out 0.1s alternate 1;
}

.login-user-input, .login-password-input, .guest-button, .submit-button {
  background: rgba(253, 253, 253, 0.75);

  border: 1px solid rgba(255, 255, 255, 0.0);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-content: space-around;
}

.login-user-input:hover, .login-user-input:active,
.login-user-input:focus, .login-password-input:hover,
.login-password-input:active, .login-password-input:focus {
  box-shadow: 2px 2px 4px darken(rgba(252, 205, 205, 0.5), 10%);
  // cursor: pointer;
}

.login-user-input::selection, .login-password-input::selection {

  background-color: #fce295;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login-user-input, .login-password-input {
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}



.login-form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.non-splash-container {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2px;
  align-items: center;
}
.login-form-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(255, 255, 255, 0.5);
}

.login-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: left;
  padding: 5px;
}

.error-box {
  height: 35px;
}

.login-errors {
  list-style: none;
}

.sub-guest-buttons {
  display: flex;
  justify-content: space-around;
}

.nest {
  display: none;
  padding-bottom: 8px;
  border-bottom: solid 1px black;
  position: absolute;

  min-width: 65px;
  transition: all 0.75s ease;
}

.login-signup-flex-container .reactive .nest {
  transition: all 0.75s ease;
  display: block;
}

.login-button, .signup-button {
  .reactive {
    font-weight: 400;
  }
}


.login-signup-flex-container .login-button:hover > .nest, .login-signup-flex-container .signup-button:hover > .nest {
  transition: all 0.75s ease;
  display: block;
  padding-bottom: 8px;
  border-style: dashed;
  font-weight: 400;
  cursor: point;
}

.special-space {
  min-width: 20px;
}

.login-signup-flex-container {
  display: flex;
  justify-content: space-around;

  .spacer {
    display: flex;
    flex: 6;
  }

  .login-button, .signup-button {
    min-width: 65px;
    font-size: 16px;

    .reactive {
      font-weight: 400;
    }
  }

  .special-space {
    display: flex;
    flex: 1;
  }
}

.login-signup-flex-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.login-signup-flex-container, .non-splash-container, .container-container {
  z-index: 9050;
  // background: transparentize(#FCCDCD, 1);
  // border-color: transparentize(#FCCDCD, 1);
}

.container-container {
  padding-top: 120px;
}

.login-signup-flex-container {
  padding-bottom: 20px;
}

.guest-button, .submit-button {
  justify-content: center;
  align-items: center;
  align-content: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }

@-webkit-keyframes wiggle {
  from {
    // -webkit-transform: translate(-1px, 0px);
     -webkit-transform: rotate(2deg);
  }
  to {
    -webkit-transform-origin:center center;
    // -webkit-transform: translate(0px, 1px);
    -webkit-transform: rotate(-2deg);
  }
}
