
.task-delete {
  color: rgb(165, 165, 165);
  background-color: transparent;
  padding: 10px;
  padding-top: unset;
  padding-bottom: unset;
  font-size: 12px;
  margin-top: -10px;
  width: 10px;
  height: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.task-delete:hover {
  background-color: pink;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.task-index li:hover {
  cursor: grab;
  cursor: -webkit-grab;
}
.task-index li:active, .task-index li:focus {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
