.team-index-initial-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
}

.in-team-team-form-wrapper {
  margin-top: 90px;
}

.in-team-project-index-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.team-link-div {
  position: fixed;
  padding: 10px;
  max-width: 150px;
  max-height: 80px;
  background-color: lightgrey;
}

.handle {
  position: fixed;
  padding: 10px;
  max-width: 150px;
  max-height: 80px;
  background-color: blue;
}
