.session-form-containers-wrapper {
  display               : flex            !important;
  min-width             : 800px           !important;
  opacity               : 1               !important;
  background-image      : linear-gradient(
                            135deg,
                            #522e58 0%,
                            #75253b 52%,
                            #632b4a 77%,
                            #084842 100%
                          ),
                          url(
                            "./Bento-Hero-Shot-7.png"
                          );
  background-blend-mode : hard-light      !important;
  background-repeat     : no-repeat       !important;
  background-origin     : center          !important;
  background-position   : top             !important;
  background-size       : 1600px          !important;
  justify-content       : center          !important;
}

.HideWrapper {
  // display   : none     !important;
}

.team-index-initial-wrapper {
  z-index         : 99                           !important;
  display         : flex                         !important;
  position        : fixed                        !important;
  max-width       : 240px                        !important;
  height          : 100%                         !important;
  padding         : 0px 40px                     !important;
  padding-right   : 30px                         !important;
  padding-left    : 55px                         !important;
  background      : linear-gradient(
                      90deg,
                      #201c2e 0%,
                      #1f1a31 33%,
                      #371c3d 66%,
                      #421935 96%
                    );
  box-shadow      : 6px 0px 30px 18px #421935    !important;
  align-content   : space-around                 !important;
  flex            : 1                            !important;
  flex-direction  : column                       !important;
  justify-content : space-around                 !important;
}

h1 {
  color : #FFF  !important;
}

.team-index-link.reactive {
  color : #FFF;
}

.header-flex-container {
  display          : flex                 !important;
  position         : fixed                !important;
  width            : 100%                 !important;
  height           : 70px                 !important;
  padding-top      : 3px                  !important;
  padding-bottom   : 3px                  !important;
  color            : #FFF                !important;
  background-color : #000                !important;
  text-decoration  : none                 !important;
  font-style       : normal               !important;
  justify-content  : space-around         !important;
}

.header-container {
  display         : flex                  !important;
  color           : #FFF                 !important;
  text-decoration : none                  !important;
  font-style      : normal                !important;
  flex            : 1                     !important;
  justify-content : center                !important;
}

.nav-login-button,
.nav-logout-button,
.nav-signup-button {
  display         : flex                                 !important;
  padding         : 10px                                 !important;
  color           : #000                                !important;
  border          : 0px solid rgba(255, 255, 255, 0.5)   !important;
  border-radius   : 5px                                  !important;
  background      : #39b2d2                              !important;
  text-decoration : none                                 !important;
  align-items     : center                               !important;
  font-weight     : 400                                  !important;
  transition      : all 0.25s ease                       !important;
}

.routes-container {
  background-image : url(
    "http://res.cloudinary.com/atomc/image/upload/v1506746807/Sierra-background-Bento-1_jyt8gq.png"
  ) !important;
}

.create-project-input,
.create-project-input:active,
.create-project-input:focus,
.create-project-input:hover,
.create-task-wrapper .create-container .new-form,
.create-task-wrapper .create-container input,
.team-index-link {
  color : #FFF;
}

.bottom-splash-bar {
  background : #000;
}

.team-index-initial-wrapper {
  z-index         : 99                         !important;
  display         : flex                       !important;
  position        : fixed                      !important;
  max-width       : 240px                      !important;
  height          : 100%                       !important;
  padding         : 0px 40px                   !important;
  padding-right   : 30px                       !important;
  padding-left    : 55px                       !important;
  background      : linear-gradient(
                      90deg,
                      #201c2e 0%,
                      #1f1a31 33%,
                      #371c3d 66%,
                      #421935 96%
                    );
  box-shadow      : 6px 0px 30px 18px #421935  !important;
  align-content   : space-around               !important;
  flex            : 1                          !important;
  flex-direction  : column                     !important;
  justify-content : space-around               !important;
}

.project-index-wrapper {
  display         : flex                 !important;
  height          : 100vh                !important;
  background      : url("http://cdn.desktopwallpapers4.me/wallpapers/movies/1920x1080/1/6205-tron-castle-1920x1080-movie-wallpaper.jpg")                         !important;
  background-size : 2200px               !important;
  flex            : 1                    !important;
}

.project-list-item {
  display           : inline-block                !important;
  box-sizing        : border-box                  !important;
  width             : 300px                       !important;
  min-width         : 300px                       !important;
  max-width         : 300px                       !important;
  min-height        : 700px                       !important;
  margin            : 0 10px                      !important;
  background        : linear-gradient(
                        rgba(50, 49, 77, 0.75) 24.57%,
                        rgba(56, 64, 79, 0.64) 60.41%,
                        rgba(172, 212, 255, 0) 99.99%
                      );
  background-color  : rgba(0, 0, 0, 0.2)          !important;
  text-align        : center                      !important;
  vertical-align    : top                         !important;
  font-size         : 16px;
  -webkit-animation : 250ms ease-out 0s 1 slideIn !important;
  -webkit-animation : fadein 500ms                !important;
}

.project-title-live-input {
  width            : 100%                      !important;
  padding-top      : 10px                      !important;
  padding-bottom   : 10px                      !important;
  color            : #FFF                     !important;
  border           : solid 1px transparent     !important;
  background-color : rgba(0, 0, 0, 0.8)        !important;
  text-align       : center                    !important;
  font-size        : 20px                      !important;
  font-weight      : 400                       !important;
}

.task-item-false {
  display          : flex                          !important;
  display          : flex                          !important;
  margin           : 7px                           !important;
  padding-top      : 10px                          !important;
  padding-bottom   : 10px                          !important;
  color            : #FFF                         !important;
  border           : solid 4px rgba(0, 0, 0, 0.8)  !important;
  background-color : #000                         !important;
  font-family      : "arial"                       !important;
  font-size        : 14px                          !important;
}

.create-task-input {
  width      : 280px                      !important;
  min-width  : 280px                      !important;
  max-width  : 280px                      !important;
  border     : solid 1px transparent      !important;
  background : rgba(0, 0, 0, 0.45)        !important;
  text-align : center                     !important;
  resize     : none;
}

.task-item-true {
  display               : flex                            !important;
  margin                : 0px 7px                         !important;
  padding-top           : 10px                            !important;
  padding-bottom        : 10px                            !important;
  color                 : rgba(0, 0, 0, 0.6)              !important;
  color                 : #FFF                           !important;
  border                : solid 4px rgba(0, 0, 0, 0.15)   !important;
  background-color      : rgba(0, 0, 0, 0.75)             !important;
  text-decoration       : line-through                    !important;
  text-decoration-color : #a8af9f                         !important;
  font-size             : 14px                            !important;
  font-weight           : 200                             !important;
}

.create-project-input {
  min-width        : 300px                    !important;
  margin-right     : 30px                     !important;
  margin-bottom    : 8px                      !important;
  padding          : 10px 0px                 !important;
  border           : solid 1px transparent    !important;
  background-color : rgba(0, 0, 0, 0.5)       !important;
  text-align       : center                   !important;
  font-size        : 20px                     !important;
  font-weight      : 200                      !important;
}

.team-index-link.reactive {
  background : #673AB7;
}

.team-index-initial-wrapper {
  z-index         : 99                         !important;
  display         : flex                       !important;
  position        : fixed                      !important;
  max-width       : 240px                      !important;
  height          : 100%                       !important;
  padding         : 0px 40px                   !important;
  padding-right   : 30px                       !important;
  padding-left    : 55px                       !important;
  color           : #172f2c;
  background      : linear-gradient(
                      90deg,
                      #111427 0%,
                      #05192c 33%,
                      #1c2732 66%,
                      #182e2c 96%
                    );
  box-shadow      : 6px 0px 30px 18px #172f2c  !important;
  align-content   : space-around               !important;
  flex            : 1                          !important;
  flex-direction  : column                     !important;
  justify-content : space-around               !important;
}

.project-index-wrapper {
  display         : flex            !important;
  height          : 100vh           !important;
  background      : url(
    http://s1.picswalls.com/wallpapers/2015/10/11/sci-fi-high-quality-wallpaper_01002347_283.jpg
  ) !important;
  background-size : 2200px          !important;
  flex            : 1               !important;

  ::selection,
  body ::selection {
    background-color : #95fce1;
  }

  .check-true {
    background-color : #20ff2b;
  }

  .check-false {
    background-color : #da37ff;
  }
}

.create-project-input:active,
.create-project-input:focus,
.create-project-input:hover {
  border           : dashed 1px #000;
  background-color : #FFF;
  box-shadow       : 2px 1px 70px rgba(140, 50, 131, 0.7);
}

.team-name-input:active,
.team-name-input:focus,
.team-name-input:hover {
  color            : #FFF;
  border           : dashed 1px #000;
  background-color : #000;
  box-shadow       : 2px 1px 70px rgb(163, 33, 150);
}

.team-name-input {
  background-color : rgb(0, 0, 0);
  font-size        : 20px;
  font-weight      : 200;
}
