// Night skin beginnings

.session-form-containers-wrapper .night {
  opacity: 1;
  display: flex;
  justify-content: center;
  min-width: 800px;
  background-image: linear-gradient(135deg, #522e58 0%, #75253b 52%, #632b4a 77%, #084842 100%), url("./Bento-Hero-Shot-7.png");
  background-blend-mode:hard-light;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-origin: center;
  background-position: top;
}

.HideWrapper .night {
  display: none;
}

.header-flex-container .night {
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  font-style: normal;
  text-decoration: none;
  height: 70px;
  width: 100%;
  color: white;
}

.header-container .night {
  display: flex;
  flex: 1;
  justify-content: center;
  font-style: normal;
  text-decoration: none;
  color: white;
}

.nav-login-button, .nav-signup-button, .nav-logout-button .night {
  display: flex;
  font-weight: 400;
  text-decoration: none;
  align-items: center;
  color: black;
  padding: 10px;
  background: #39b2d2;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease;
}

.routes-container .night {
  background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);
  /* background-image: url("http://res.cloudinary.com/atomc/image/upload/v1506746807/Sierra-background-Bento-1_jyt8gq.png"); */
  background-size: 1600px;
  background-repeat: no-repeat;
  background-origin: center;
  background-position: top;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow: auto;
  background: linear-gradient(38deg, hsla(309, 33%, 38%, 0.5), hsla(90, 67%, 36%, 0)) no-repeat border-box, linear-gradient(102deg, hsla(180, 100%, 24%, 0.1) 21.01%, hsla(225, 64%, 28%, 0.35)) no-repeat border-box, hsla(170, 22%, 28%, 1);
  background: url("https://9to5mac.files.wordpress.com/2016/11/color-burst-2.jpg");
  background-size: 1600px;
}

.team-index-initial-wrapper .night {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  justify-content: space-around;
  align-content: space-around;
  box-shadow: 6px 0px 30px 18px #e1afb1;
  padding: 0px 40px;
  padding-left: 55px;
  padding-right: 30px;
  max-width: 240px;
  z-index: 99;
  background: linear-gradient(90deg, #feeed9 0%, #fed9ca 33%, #edc0ba 66%, #e1afb2 96%);
}

.project-index-wrapper .night {
  display: flex;
  flex: 1;
  /* background: url("https://9to5mac.files.wordpress.com/2016/11/color-burst-2.jpg"); */
  /* background-size: 1600px; */
  /* height: 100vh; */
}

.project-list-item .night {
  -webkit-animation: fadein 500ms;
  -webkit-animation: 250ms ease-out 0s 1 slideIn;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  margin: 0 10px;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(rgba(0, 0, 0, 0.75) 24.57%, rgba(0, 0, 0, 0.25) 60.41%, rgba(0, 0, 0, 0) 99.99%);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 16px
}

.project-title-live-input .night {
  font-weight: 400;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  border: solid 1px transparent;
  color: white;
}

.task-item-false .night {
  font-size: 14px;
  font-family: "arial";
  display: flex;
  background-color: black;
  margin: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 4px rgba(0, 0, 0, 0.8);
  display: flex;
  color: white;
}

.create-task-input .night {
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
  border: solid 1px transparent;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  resize: none
}

.task-item-true .night {
  font-weight: 200;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  margin: 0px 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 4px rgba(0, 0, 0, 0.15);
  text-decoration: line-through;
  text-decoration-color: #a8af9f;
  color: white;
}

.create-project-input .night {
  font-weight: 200;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  margin-right: 30px;
  padding: 10px 0px;
  min-width: 300px;
  text-align: center;
  border: solid 1px transparent
}
