html {

background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(252, 205, 205, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);

font-family: 'Dosis', sans-serif;
font-weight: 200;
font-size: 12px;
// line-height: 1em;
text-transform: lowercase;
text-align: center;
letter-spacing: .10em;

color: #000000;
}

body {
  margin: 0px;
  width: 100%;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1em;
  text-align: center;
  letter-spacing: .10em;
  animation: fadein 2s;
  transition: all 0.55s ease;
}

.gradient { /* Our base */
  width:200px;
  height:200px;
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
  margin:0 auto;
  margin-top:50px;
}

.header-flex-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.spacer {
  display: flex;
  flex: 1;
}

.header-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.splash-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.splash-spacer {
  display: flex;
  flex: 5;
  justify-content: space-around;
}

.logo-spacer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

// .logo-container {
//   display: flex;
//   flex: 1;
//   justify-content: center;
// }

img {
  display: flex;
  flex: 1;
  max-width: 50px;
}

.login-signup-flex-container {
  display: flex;
  flex: 5;
  justify-content: space-around;
  align-items: center;

  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  letter-spacing: .10em;
}

.login-and-signup-buttons {
  display: flex;
  justify-content: space-around;
}

.login-button, .signup-button {
  text-decoration: none;
}

.login-and-signup {
  display: flex;
  justify-content: space-around;

  text-decoration: none;
}

.login-button, .signup-button {
  display: flex;
  text-decoration: none;
  align-items: center;

  color: black;

  padding: 10px;
  background: #FCCDCD;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  transition: all 0.25s ease;
}

// .login-button {
//   animation: fadein 3s;
//   animation-delay: 0.2s;
// }
//
// .signup-button {
//   animation: fadein 3s;
//   animation-delay: 0.4s;
// }

.active {
  font-weight: 800;
}

.login-button:hover, .signup-button:hover {
  color: black;
  box-shadow: 2px 2px 4px darken(rgba(252, 205, 205, 0.5), 10%);
  -webkit-animation: shake 0.2s ease-in-out 0.3s infinite alternate;
  -webkit-animation: rotate 0.1s ease-in-out 0.0s infinite alternate;

}



.session-form-containers {

  display: flex;
  justify-content: center;
  -webkit-animation: fadein 2s;
}



.login-form-container {
  /* Pink Base Box */
display: flex;
justify-content: center;
min-width: 700px;
height: 490px;
left: 120px;
top: 125px;

background: #FCCDCD;
border: 15px solid rgba(255, 255, 255, 0.5);


}

.submit-button, .guest-button {
background: linear-gradient(90deg, rgba(253, 212, 182, 0.5) 24.57%, rgba(252, 205, 205, 0.5) 24.57%, rgba(253, 212, 182, 0.5) 34.26%, rgba(255, 226, 137, 0.5) 60.41%, rgba(239, 255, 174, 0.5) 99.99%);

border: 1px solid #000000;
box-sizing: border-box;
}

.login-form .login-password-input, .login-form .login-user-input, .guest-button, .submit-button {
  background: linear-gradient(90deg, rgba(253, 253, 253, 0.5) 24.57%, rgba(252, 253, 253, 0.5) 24.57%, rgba(253, 253, 253, 0.5) 34.26%, rgba(255, 253, 253, 0.5) 60.41%, rgba(253, 253, 253, 0.5) 99.99%);

  border: 1px solid rgba(255, 255, 255, 0.0);
  box-sizing: border-box;
}

.login-errors {
  list-style: none;
}

















@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }


@-webkit-keyframes shake {
  from {
     -webkit-transform: translate(-1px, 0px);
  }
  to {
    -webkit-transform-origin:center center;
    -webkit-transform: translate(0px, 1px);
  }
}

@-webkit-keyframes rotate {
  from {
     -webkit-transform: rotate(2deg);
  }
  to {
    -webkit-transform-origin:center center;
    -webkit-transform: rotate(-2deg);
  }
}
























// display: flex;
// justify-content: center;
//
// max-width:110%;
// margin-left:0;
// padding: 0;
// width: 100%;
// height: 110 px;


// .signup-button {
//   text-decoration: none;
//   align-items: center;
//
//   padding: 5px;
//   background: #FCCDCD;
//   border: 0px solid rgba(255, 255, 255, 0.5);
// }

// .top-box {
//   padding: 0 15px;
//   max-width: 1230px;
//   margin: 0 auto;
//   width: 100%;
//   background-color: black;
// }
