<!DOCTYPE html>
<html>
  <head>
    <title>Bento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Dosis:200,400');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
