<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/atomc/image/upload/v1500523952/Bento-Favicon_jlhsvg.png"/>
    <title>Bento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet">
      <script>
        function allowDrop(ev) {
          ev.preventDefault();
        }

        function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
          ev.preventDefault();
          var data = ev.dataTransfer.getData("text");
          ev.target.appendChild(document.getElementById(data));
        }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
